#graph {
    position: relative;
    list-style-type: none;
    border: 2px solid #222;
    background: #111;
}

.graph_item {
    position: absolute;
    border-radius: 50%;
}

.centroid {
    border: 2px solid #0000FF;
    box-shadow: 0 0 2px 2px #0000FF;
}

.point {
}